<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        {{ i18n "home" }} | {{ .Site.Params.author.name }}
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    {{ partial "avatar.html" . }}
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.author.name }}</h1>
                    </div>
                    {{ if isset .Site.Params "social" }}
                        {{ partial "social.html" . }}
                    {{ end }}
                </div>

                {{ $recent := (where site.RegularPages "Section" "posts").ByDate.Reverse | first 3 }}
                {{ if $recent }}
                <div role="list" class="indexRecent">
                    {{ range $recent }}
                        <div class="postListItem" role="listitem">
                            <a class="postListLink" href="{{ .Permalink }}">
                                <div class="postHeader">
                                    <span class="postTitle">{{ .Title | safeHTML }}</span>
                                    {{ $layout := .Site.Params.displayDateFormat | default "2006-01-02" }}
                                    {{ $iso := .Date | time.Format "2006-01-02" }}
                                    <time class="postDate" datetime="{{ $iso }}">{{ .Date | time.Format $layout }}</time>
                                </div>
                                {{ $showReadingTime := true }}
                                {{ if eq .Site.Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}
                                {{ if eq .Site.Params.readingTime false }}{{ $showReadingTime = false }}{{ end }}
                                {{ if eq .Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}
                                {{ if $showReadingTime }}
                                <div class="readingTime">
                                    <i class="fa-solid fa-book-open" aria-hidden="true"></i>
                                    <span class="sr-only">{{ i18n "reading_time" }}</span>
                                    {{ i18n "reading_time_desc" .ReadingTime }}
                                </div>
                                {{ end }}
                            </a>
                            <div class="postExcerpt">
                                {{ .Summary }}
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div class="indexMore">
                    {{ with site.GetPage "section" "posts" }}
                        <a class="indexMore-link" href="{{ .RelPermalink }}">More</a>
                    {{ else }}
                        <a class="indexMore-link" href="/posts/">More</a>
                    {{ end }}
                </div>
                {{ end }}
            </main>
        </div>

        {{ partial "footer.html" . }}
    </div>

</body>

</html>
